<div class="products">
  <div fxLayout="row wrap" fxFlexAlign="space-around center" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%" *ngFor="let product of products">
      <mat-card class="">
        <div class="flex center">
          <mat-card-header>
            <mat-card-title>{{ product.name }}</mat-card-title>
          </mat-card-header>
        </div>
        <img class="img-responsive" mat-card-image src="{{ product.image }}" alt="">
        <mat-card-actions>
          <app-quantity-control (numChanged)="quantityChangeHandler($event)"></app-quantity-control>
          <button (click)="addToCart(product.id)" mat-button>ADD TO CART</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
