image {
  width: 100%;
  height: auto;
}

#items-list {
  width: 66%;
  flex-direction: row;
}

.item {
  height: 500px;
}

#summary {
  flex-direction: row;
  justify-content: center;
  width: 33%;
}

.flex {
  display: flex;
}

.fill {
  width: 100%;
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
  color: red;
}

.image-container {
  max-width: 1px;
}
