<mat-toolbar>
  <span>Title</span>
  <button #navToggle (click)="open()" class="nav-toggle" aria-controls="navigation" aria-expanded="false"></button>

  <nav>
    <ul #nav data-visible="false" id="navigation" class="navigation flex">
      <li>
        <div ngbDropdown #myDrop="ngbDropdown">
          <button mat-button id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Products</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <div>
              <h2>Categories</h2>
              <mat-divider></mat-divider>
            </div>
            <div *ngFor="let category of categories">
              <button mat-button ngbDropdownItem routerLink="/categories/{{category.name}}/products">{{ category.name }}</button>
            </div>
            <div>
              <mat-divider></mat-divider>
              <button mat-button ngbDropdownItem routerLink="/products">View All</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="">
          Categories
        </a>
      </li>
      <li>
        <a routerLink="/shopping-cart"><fa-icon [icon]="faShoppingCart" ></fa-icon></a>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
