<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center" color="accent">
  <div #logo>
    <img class="cover" src="/assets/images/chili.png" alt="chili">
  </div>

  <span>Spice Shop</span>
  <div ngbDropdown #myDrop="ngbDropdown" fxLayout="row" fxLayoutAlign="space-around stretch">
    <button mat-button id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Products</button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3>Categories</h3>
        </div>
          <mat-divider></mat-divider>
        <div *ngFor="let category of categories">
          <button mat-button ngbDropdownItem routerLink="/categories/{{category.name}}/products">{{ category.name }}</button>
        </div>
        <div>
        <mat-divider></mat-divider>
        <button mat-button ngbDropdownItem routerLink="/products">View All</button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <input matInput placeholder="Search">
    <button mat-button>
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <a routerLink="/shopping-cart"><fa-icon [icon]="faShoppingCart" ></fa-icon></a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>


